# ===== C++ compiled files =====
*.exe
*.out
*.o

# ===== Windows junk =====
Thumbs.db
Desktop.ini

# ===== VS Code =====
.vscode/

# ===== Debug / temp =====
*.log
*.tmp
# ===== CP Helper =====
.cph/
